<%- include("../partials/header"); %>

	<div class="row">
		<div class="col-md-3">
			<div class="list-group">
				<li class="list-group-item"><a href="#des" style="color:black">Description</a></li>
				<li class="list-group-item"><a href="#rating" style="color:black">Rating</a></li>
				<li class="list-group-item"><a href="#comment" style="color:black">Comments</a></li>
			</div>
			<div id="map"></div>
		</div>
		
		<div class="col-md-9">
			<div class="thumbnail">
				<img class="img-responsive" src ="<%= campground.image %>">
				<div class="caption-full">
					<h3 class="pull-right">$ <%= campground.price %> /night</h3>
					<h3 id="des"><%= campground.name %></h3>
					<p><%= campground.description %></p>
					<p><em>Submitted by: <a href="/users/<%=campground.author.id %>"><%= campground.author.username %></a>, <%= moment(campground.createdAt).fromNow() %></em> </p>
					
					<% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
					<a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-xs btn-warning">Edit</a>
					<form id="delete-form" action="/campgrounds/<%= campground._id %>/?_method=delete" method="POST">
						<button class="btn btn-danger btn-xs">Delete</button>
					</form>
					<% }; %>
				</div>
			</div>
			<!----Review section START----->
			<div class="thumbnail">
				<div class="caption-full">
						<h4 id="rating">Rating:
						<%-'<span class="fa fa-star checked"></span>'.repeat(campground.rating) %>
						<%-'<span class="fa fa-star"></span>'.repeat(5-campground.rating) %>
						
						<a class="btn btn-primary btn-sm pull-right
						<% if(currentUser && campground.reviews.some(function(review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>" href="/campgrounds/<%= campground._id %>/reviews/new">Write a review</a>
						<a class="btn btn-default btn-sm pull-right" href="/campgrounds/<%= campground._id %>/reviews/">See all reviews</a>
						</h4>
						<hr style="margin-top:25px">
						<h5>Latest Review <em>(total reviews:<%= campground.reviews.length %>)</em></h5>
						<% campground.reviews.slice(0.5).forEach(function(review) { %>
					<div class="row">
						 <div class="col-sm-4">
							<%-'<span class="fa fa-star checked"></span>'.repeat(review.rating) %>
							<%-'<span class="fa fa-star"></span></span>'.repeat(5-review.rating) %>
						 </div>
						 <div class="col-sm-4">	 
								<%= review.text %>
						 </div>
						 <div class="col-sm-4">
							 <p>Reviewed by <a href="/users/<%= review.author.id %>"><%= review.author.username %></a></p>
							 <span><em><%= review.updatedAt.toDateString() %></em></span>

							<% if(currentUser && review.author.id.equals(currentUser._id)){ %>
							<a href="/campgrounds/<%= campground._id%>/reviews/<%= review._id %>/edit" class="btn btn-warning btn-xs pull-right">Edit</a>

							<form id="delete-form" class="pull-right" action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
								<button class="btn btn-danger btn-xs pull-right">Delete</button>
							</form>
							<%  } %>
						</div>	
					</div>
					<% }) %>
				</div>
			</div>
			<!----Review section END----->
			
		
			<!----Comment section START----->
		<div class="thumbnail" style="margin-bottom:80px">
			<div class="well">
						<% if(currentUser) { %>
						<div class="text-right">
							<a class="btn btn-success btn-xs" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add a Comment</a>
						</div>
						<% } %>
					<br>
					
				<div class="row">
					<div class="col-md-12">
					<!--Comment section title-->
						<h4 id="comment"><strong>Comments <span class="glyphicon glyphicon glyphicon-comment" aria-hidden="true"></span></strong></h4>
					<!--Collapse Add a comment form START-->
						<div class="collapse" id="collapseComment">
							<div class="well" style="border-left:5px solid #00C851;">
								<% if(!currentUser) { %>
								<h5>You have to <a href="/login">log in</a> to add a comment.</h5>
								<% } %>
								<% if(currentUser) { %>
								<h5>Write your comment <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span></h5>
								<form id="add-comment-form" action="/campgrounds/<%= campground._id %>/comments" method="POST">
									<div class="form-group">
								<textarea type="text" class="form-control" name="comment[text]" placeholder="Write your comment here..."></textarea>
									</div>
									<div class="form-group">
									<button class="btn btn-sm btn-primary pull-right">submit</button>
									</div>

								</form>
								<% } %>
							</div>	
						</div>
					</div>	
				</div>	
				<!--Collapse Add a comment form END-->
 				<hr>
		<!--Check if there are comments, if there are none say no comments.-->
				<div class="row">
					<div class="col-md-12">
						<% if (campground.comments.length === 0) { %>
						<em style="color: grey;">No comments yet.</em>
						<% } %>
							
						<% campground.comments.forEach(function(comment){ %>
						
							<% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
							<strong>
							<span style="color: orange;" class="glyphicon glyphicon-user" aria-hidden="true"></span>
							<% } else { %>
							<span style="color: black;" class="glyphicon glyphicon-user" aria-hidden="true"></span>
							<% } %>
							<%= comment.author.username %></strong>
							<span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
							<p><%= comment.text %></p>
							<!--If the visitor is logged in and the owner of the comment, show the edit and delete buttons-->
 
							<% if (currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
						
							<a class="btn btn-xs btn-warning pull-right" role="button" data-toggle="collapse" href="#collapseEdit<%= comment._id %>" aria-expanded="false" aria-controls="collapse<%= comment._id %>">Edit</a>
						
						
							<!--Delete comment button-->
							<form id="delete-btn"  class="pull-right" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
								<button class="btn btn-xs btn-danger" type="submit">Delete</button>
							</form>
							
							<!--Edit comment form-->
							<div class="collapse" id="collapseEdit<%= comment._id %>">
								<div class="well" style="border-left:5px solid #ffbb33; margin-top: 15px;">
									<h5>Edit comment <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span></h5>
									<form id="edit-comment-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
										<div class="form-group">
									<textarea type="text" class="form-control" name="comment[text]" form="edit-comment-form<%= comment._id %>" rows="5" cols="70"><%= comment.text %></textarea>
										</div>
										<div class="form-group">
										<button class="btn btn-sm btn-warning pull-right">Save</button>
										</div>

									</form>

								</div>	
							</div>
							<% } %>		
					<% }) %>
					</div>
					
				</div>
			</div>
		</div>	
			<!----Comment section----->
	


<script>
  function initMap() {
    var lat = <%= campground.lat %>;
    var lng = <%= campground.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6LAA0em0QTfxbjCLptXV_1NK-d_8IdxY&callback=initMap"></script>

<%- include("../partials/footer") %>